[init]
	defaultBranch = main
[user]
	name = Earl Atta-Fynn
	email = earl.atta.fynn@gmail.com
[core]
	editor = nvim
[push]
	autoSetupRemote = true
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  lg = log --pretty=format:'%C(yellow)%h%Creset %C(cyan)%ad%Creset %C(white)%s%Creset %C(red)%d%Creset' --date=short

[pull]
  rebase = false

[diff]
	tool = nvim
[merge]
	tool = nvim
[difftool]
  prompt = false
[mergetool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[difftool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE
[mergetool "nvim"]
  cmd = nvim -d $LOCAL $MERGED $REMOTE 
